# This config file is used by ros2_control
controller_manager:
  ros__parameters:
    update_rate: 100  # Hz

    arm_controller:
      type: joint_trajectory_controller/JointTrajectoryController


    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    
    rotary_velocity_controller:
      type: forward_command_controller/ForwardCommandController


arm_controller:
  ros__parameters:
    joints:
      - joint_1
      - joint_2
      - joint_3
      - joint_4
      - joint_5
      - joint_6
    command_interfaces:
      - position
    state_interfaces:
      - position
      - velocity
    allow_nonzero_velocity_at_trajectory_end: true

    constraints:
      goal_time: 0.0
      stopped_velocity_tolerance: 0.0
      joint_1:
        goal: 0.05
      joint_2:
        goal: 0.05
      joint_3:
        goal: 0.05
      joint_4:
        goal: 0.05
      joint_5:
        goal: 0.05
      joint_6:
        goal: 0.05


rotary_velocity_controller:
  ros__parameters:
    joints:
      - rotary_table_to_drill_bit
    interface_name: velocity